html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: @font-Open;
  font-size: 1rem /*16px*/;

}

body {
  min-height: 100vh;
  padding-top: 147px;
  color: #1f1e1e;
  font-size: 1rem /*16px*/;
  line-height: 1.375rem /*22px*/;

  background-image: url("../../assets/images/noise.png"), url("../../assets/images/bg.png");
  background-position: 0 0;
  background-repeat: repeat, repeat-y;
  background-size: auto, 100% auto;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select {
  box-shadow: none;
  outline: none;
  color: @black;
  font-family: @font-Open;
}

textarea {
  resize: none;
}

.main {
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 1414px;
  width: 100%;
  height: 100%;
}