// Цветовая палитра
@white: #ffffff;
@black: #1f1e1e;

@red: #bc3324;
@red_dark: #a51505;

@gray: #dedede;
@gray_dark: #bfbfbf;
@gray_signature: #6C6C6C;

// Шрифты
@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@font3: "mak", serif;

//Размер шрифта
@font1_size: 16px;
@font1_size_s: (@font1_size / 1.25);

//Переменные медиавыражений
@bw400: ~"(max-width: 399px)";
@w400: ~"(min-width: 401px)";

@bw500: ~"(max-width: 499px)";
@w500: ~"(min-width: 501px)";

@bw600: ~"(max-width: 599px)";
@w600: ~"(min-width: 600px)";

@bw650: ~"(max-width: 649px)";
@w650: ~"(min-width: 650px)";

@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";

@bw1020: ~"(max-width: 1019px)";
@w1020: ~"(min-width: 1020px)";

@bw1170: ~"(max-width: 1169px)";
@w1170: ~"(min-width: 1170px)";

@bw1340: ~"(max-width: 1339px)";
@w1340: ~"(max-width: 1340px)";

@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";