.event {
  width: 100%;
  height: 100%;
  padding: 40px 0 150px;
}
.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas:
    "checks scheme"
    "order legend";
  width: 100%;

  div {
    box-sizing: border-box;
    background-color: coral;
    padding: 10px;
    text-align: center;
  }
}
.reserve__checks {
  grid-area: checks;
}
.reserve__order {
  grid-area: order;
}
.reserve__scheme {
  grid-area: scheme;
}
.reserve__scheme {
  grid-area: scheme;
}
