.events {
    padding: 139px 0 150px;
    
    @media @bw1340 {
        padding: 91px 0 100px;
    }

    @media @bw768 {
        padding-top: 80px;
        padding-bottom: 98px;
    }

    &__listing {
        margin-bottom: 100px;
    }

    &__tariffs {
        margin-bottom: 51px;

        @media @bw1660 {
            margin-bottom: 42px;
        }

        @media @bw1340 {
            margin-bottom: 45px;
        }

        @media @bw768 {
            margin-bottom: 40px;
        }
    }

    &__choice {
        margin-bottom: 75px;

        @media @bw768 {
            margin-bottom: 63px;
        }

        .choice__title {
            margin-bottom: 50px;

            @media @bw768 {
                margin-bottom: 25px;
            }
        }

        .choice__button {
            min-width: 246px;

            @media @bw1660 {
                margin: 0 53px 25px;
            }

            @media @bw1340{
                min-width: 238px;
                margin: 0 27px 25px 30px;
                padding: 13px 49px 13px 50px;
                font-size: 0.875rem;
            }

            @media @bw768 {
                margin: 0 auto 25px;
                padding: 14px 49px;
            }
        }
    }

    .listing__events-list {
        margin-bottom: -50px;

        @media @bw1660 {
            margin-bottom: -40px;
        }

        @media @bw1340 {
            margin-bottom: -21px;
        }

        @media @bw768 {
            margin-bottom: -9px;
        }
    }

    &__tariffs-description {
        max-width: 868px;
        margin-top: 0;
        margin-bottom: 60px;

        @media @bw1660 {
            max-width: 829px;
        }

        @media @bw1340 {
            margin-bottom: 50px;
        }

        @media @bw768 {
            margin-bottom: 30px;
            font-size: 1rem;
        }
    }
}