.event {
  padding: 38px 0 150px;

  @media @bw1340 {
    padding: 40px 0 100px;
  }

  @media @bw768 {
    padding: 80px 0 100px;
  }

  &__promo {
    box-sizing: border-box;
    margin-bottom: 80px;

    @media @bw1340 {
      margin-bottom: 76px;
    }

    @media @bw768 {
      margin-bottom: 60px;
    }
  }

  &__content {
    box-sizing: border-box;
    .container;
    margin-bottom: 80px;
    padding-right: 32%;

    @media @bw1340 {
      margin-bottom: 54px;
      padding-right: 25%;
    }

    @media @bw1020 {
      padding-right: 15%;
    }

    @media @bw768 {
      margin-bottom: 40px;
    }
  }

  // &__content-container {
  //   max-width: 870px;
  //   margin-right: auto;

  //   @media @bw1660 {
  //     max-width: 831px;
  //   }

  //   @media @bw1340 {
  //     max-width: 600px;
  //   }
  // }
}