.pp
{
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 50;
    background: rgba(28, 27, 27, 0.4);
    backdrop-filter: blur(25px);

    &__block
    {
        padding: 110px 0 40px;
        background-color: @grey;
        background-image: url(../../assets/images/noise.png);
    }
}