html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
}

body
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #1F1E1E;
}

.page-header
{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: #DEDEDE;
}

.page-header__container
{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1414px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

.page-header__logo
{
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    text-decoration: none;
    font-size: 0;
}

.page-header__logo-icon
{
    width: 100%;
    height: 100%;
}

.page-header__nav
{
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.page-header__nav-link
{
    margin: 0 25px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.3;
    color: #1F1E1E;
    transition: color 0.2s;
}

.page-header__nav-link:hover,
.page-header__nav-link:active
{
    color: #BC3324;
}

.main
{
    flex: 1 0 auto;
    background-color: white;
}

.page-footer
{
    flex: 0 0 auto;
    background-color: black;
}

.btn
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border: 1px solid #1F1E1E;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #1F1E1E;
    transition: color 0.2s, background-color 0.2s;
}

.btn:hover,
.btn:active
{
    color:white;
    background-color: #1F1E1E;
}

.page-header__right-block
{
    display: flex;
    justify-content: flex-end;
    width: 202px;
}

.events
{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1414px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

.listing__events-card
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.events-card
{
    display: flex;
    width: 100%;
    margin: 0 30px 120px;
    max-width: 405px;
    min-width: 280px;
    width: calc(33.333% - 60px);
}

.events-card__title
{
    width: 405px;
    height: 64px;
    left: 0px;
    top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #1F1E1E;
}

.events-card__title:hover,
.events-card__title:active
{
    color: #BC3324;
}

.events-card__link
{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.events-card__picture
{
    display: block;
    position: relative;
}

.events-card__picture::before
{
    content: '';
    display: block;
    padding-top: 107.161%;
    width: 100%;
}

.events-card__img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

