.introduction
{
    font-family: 'Lora';
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
}

.text_button
{
    color:black;
    font-size: 200%;
}

.text_button:hover
{
    color:red;
}

.text_button:active
{
    color:darkred;
}